-if @linker
    .d-flex.justify-content-center
        %h4{class: 'fw-bold'} Your Next Checkpoint:
    .d-flex.justify-content-center
        %h1.text-center{class: 'fw-bold'}=@checkpoint.name

    .card
        .card-header 
            Information:
        .card-body
            %p= @linker.checkpoint_description
-else
    .d-flex.justify-content-center
        %h1 Congratulations
    .d-flex.justify-content-center
        %h2 You Finished The Event