=link_to walkers_path do 
    %span.bi.bi-arrow-return-left

.row 
    .col
        .d-flex.justify-content-center
            %h2 Check-In For:
        .d-flex.justify-content-center
            %h1 HOPE CROSS
        %br/
        .d-flex.justify-content-center
            %p Great job!
        .d-flex.justify-content-center
            %p You are ahead of the advised time of 10:15.
        .d-flex.justify-content-center
            %h3 Your next check-in is at: 
        .d-flex.justify-content-center
            %h1 Win Hill
        .d-flex.justify-content-center
            %h2 Aim to be there before 11:00!
        %br/

.btn.btn-primary{:onclick => "geoFindMe()"} Show my location
.p#out

:javascript
    function geoFindMe() {
    var output = document.getElementById("out");

    function success(position) {
        var latitude  = position.coords.latitude;
        var longitude = position.coords.longitude;

        output.innerHTML = '<p>Latitude is ' + latitude + '° <br>Longitude is ' + longitude + '°</p>';

    };

    function error() {
        output.innerHTML = "Can't get your Position";
    };

    output.innerHTML = "<p>Locating…</p>";

    navigator.geolocation.getCurrentPosition(success, error);
    }
