=link_to walkers_path do 
    %span.bi.bi-arrow-return-left
    
.d-flex.justify-content-center
    %h2 Check-In For:
.d-flex.justify-content-center
    %h1 HOPE CROSS
%br
%br
%p Oops! According to your location, we don't think you're at the check-in point. If we're wrong, please ask a marshal to get the four digits code and submit below to check in, thank you. 

.form-floating.row 
    %h6 Input the four digits code:
    .col-9
        %input#floatingInputValue.form-control(type="text")
    .col-3
        .btn.btn-primary Submit

    