-if @linker
    .d-flex.justify-content-center
        %h2 Next Checkpoint:
    .d-flex.justify-content-center
        %h1= @checkpoint.name

    .card
        .card-header 
            Information:
        .card-body
            %p= @linker.checkpoint_description
-else
    .d-flex.justify-content-center
        %h1 Congratulations
    .d-flex.justify-content-center
        %h2 You Finished The Event