.d-flex.justify-content-center
    %h2 Next Checkpoint:
.d-flex.justify-content-center
    %h1 HOPE CROSS

.card
    .card-header 
        Information:
    .card-body
        %p From here, you'll see the summit of Win 
        Hill up ahead on the horizon - keep
        walking in this direction. Initially follow
        the bridleway which leads you to the
        wood-line. Just at this point, you'll see a
        footpath that skirts along the wood-line,
        with a wire fence on the left and a stone
        wall on the right. For the easiest line,
        follow this for the next mile or so.
        Where the track very clearly deviates off
        and up rightwards towards the summit
        of Win Hill, leave the wood-line and
        head for Win Hill. As you get to the foot
        of Win Hill you'll come to a fork: take
        the high path leftwards for the hill top.