=link_to walkers_path do 
    %span.bi.bi-arrow-return-left

.row 
    .col
        .d-flex.justify-content-center
            %h2 Check-In For:
        .d-flex.justify-content-center
            %h1 HOPR CROSS
        %br/
        .d-flex.justify-content-center
            %p Great job!
        .d-flex.justify-content-center
            %p You are ahead of the advised time of 10:15
        .d-flex.justify-content-center
            %h3 Your next check-in is at: 
        .d-flex.justify-content-center
            %h1 Win Hill
        .d-flex.justify-content-center
            %h2 Aim to be there before 11:00!
        %br/
    .d-grid.gap-2
        =link_to checkpoint_info_walkers_path,class: 'btn btn-primary primary-button' do 
            %span Check Point Information


