.d-flex.justify-content-center
    %h1{class: "fw-bold"} Dropping Out
%br/
.d-flex.justify-content-center
    %h5 We're sorry to see you go!
%br/
.d-flex.justify-content-center
    %p{class: "text-center"} Well done on all your hard work today. Now you're finishing up, do you need picking up, or are you making your own way home?
%br/
.d-grid.gap-2
    = simple_form_for :make_own_way_home, url: make_own_way_home_walkers_path, method: :post do |f|
        = f.submit "Making My Own Way Home", class: 'btn btn-primary primary-button'
    =link_to "I Need Picking Up", walker_requestPickUp_path(current_user), class: 'btn btn-primary primary-button'