=link_to walkers_path do 
    %span.bi.bi-arrow-return-left

.d-flex.justify-content-center
    %h1 How Can We Help

.d-grid.gap-2
    =link_to "Request Call From Staff", check_in_walkers_path, class: 'btn btn-primary primary-button'
    =link_to "Call Head Marshall(Emergency)", check_in_walkers_path, class: 'btn btn-primary primary-button'
    =link_to "I'd Like To Drop Out", drop_out_walkers_path, class: 'btn btn-primary primary-button'
    =link_to "Report Issue With Site", check_in_walkers_path, class: 'btn btn-primary primary-button'