.d-flex.justify-content-center
    %h1{class: "fw-bold"} How Can We Help?
%br/

.d-grid.gap-2
    //data-bs-toggle="modal" data-bs-target="#requestCall"
    %a.btn.btn-primary.primary-button(href="/walkers/#{current_user.id}/requestCall") Request Call From Staff
    %a.btn.btn-primary.primary-button(href="tel:[07529928070]") Call Head Marshall (Emergency)
    =link_to "I'd Like To Drop Out", drop_out_walkers_path, class: 'btn btn-primary primary-button'
    =link_to "Report Issue With The WebSite", check_in_walkers_path, class: 'btn btn-primary primary-button'

    //Pop up for Request Call
    -# #requestCall.modal.fade
    -#     .modal-dialog
    -#         .modal-content 
    -#             .modal-header.fw-bold
    -#                 Information
    -#             .modal-body
    -#                 We have already informed the Staff that you need help, and they will call you as soon as possible. Please watch for incoming calls. Thanks you!
    -#             .modal-footer
    -#                 %button.btn.btn-Primary{ type: 'button', data: { bs_dismiss: 'modal' } } OK
