.d-flex.justify-content-center
    %h1{class: "fw-bold"} How Can We Help?
%br/

.d-grid.gap-2
    =link_to "Request Call From Staff", check_in_walkers_path, class: 'btn btn-primary primary-button'
    =link_to "Call Head Marshall (Emergency)", check_in_walkers_path, class: 'btn btn-primary primary-button'
    =link_to "I'd Like To Drop Out", drop_out_walkers_path, class: 'btn btn-primary primary-button'
    =link_to "Report Issue With The WebSite", check_in_walkers_path, class: 'btn btn-primary primary-button'