.row 
    .col 
        %h1 LET'S GO! 
        %h2 The walk has begun! 
        %p 
        %h2 Your next checkpoing
        %h1 Hope Cross 
.d-grid.gap-2
    -# =link_to(button_tag("Check-in", class: 'btn btn-primary primary-button'), walker_check_in_path) 
    =link_to "Check-in", check_in_walkers_path, class: 'btn btn-primary primary-button'
    =link_to "Checkpoint information", check_in_walkers_path, class: 'btn btn-primary primary-button'
    =link_to "RequestHelp", check_in_walkers_path, class: 'btn btn-primary primary-button'
