%br
.row 
    .col
        -if @linker
            .d-flex.justify-content-center
                %h1{class: "fw-bold"} LET'S GO! 
            .d-flex.justify-content-center
                %h2{class: "fw-bold"} The event has begun! 
            %br
            .d-flex.justify-content-center
                %h4{class: "fw-bold"} Your next checkpoint:
            .d-flex.justify-content-center
                %h1{class: "fw-bold"}= @checkpoint.name
        -else
            .d-flex.justify-content-center
                %h1 Congratulations
            .d-flex.justify-content-center
                %h2 You Finished The Event
        %br/
        %br/
.d-grid.gap-2
    =link_to "Check In", check_in_walkers_path, class: 'btn btn-primary primary-button'
    =link_to "Check In Failed", check_in_fail_walkers_path, class: 'btn btn-primary primary-button'
    =link_to checkpoint_info_walkers_path, class: 'btn btn-primary primary-button' do 
        %span Check Point Information
    /=link_to "Search friends", search_walkers_path, class: 'btn btn-primary primary-button'
    =link_to "Leaderboard", leaderboard_pages_path, class: 'btn btn-primary primary-button'
    =link_to "Request Help", help_walkers_path, class: 'btn btn-primary primary-button'