.row 
    .col
        .d-flex.justify-content-center
            %h1.fw-bold Checkpoint Ordering


-routes = Route.where(events_id: session[:current_event_id])
-routes.each do |route|
    .d-flex.justify-content-center
        %h2= route.name
    .d-flex.justify-content-center
        %table
            %tbody
                %tr
                    %td.fw-bold Checkpoint
                    %td.fw-bold Distance From Start
                    %td.fw-bold OS Grid
                -linkers = RoutesAndCheckpointsLinker.where(route_id: route.id).order("distance_from_start ASC")
                -linkers.each do |linker|
                    %tr
                        -checkpoint = Checkpoint.where(id: linker.checkpoint_id).first
                        %td= checkpoint.name
                        %td= linker.distance_from_start
                        %td= checkpoint.os_grid
    %br