.row 
    .col
        .d-flex.justify-content-center
            %h2 Create Event
        %br/
        .d-flex.justify-content-center
            %h1 Event Name:
        %br/
        .d-flex.justify-content-center
            =text_field :name, :event, :maxlength => "20", :placeholder => "Event Name..."
        %br/
        .d-flex.justify-content-center
            =link_to "Next", create_event_date_admins_path, class: 'btn btn-primary primary-button'