.row 
    .col 
        .d-flex.justify-content-center
            %h1 Event Branding 
        %br/
        .d-flex.justify-content-center
            %h1 Event Header Logo 
        .d-flex.justify-content-center
            =button_tag "Upload Header Logo",  class: 'btn btn-primary primary-button'
        %br/
        .d-flex.justify-content-center
            %h1 Homepage Logo
        .d-flex.justify-content-center
            =button_tag "Upload Homepage Logo",  class: 'btn btn-primary primary-button'
        %br/
        .d-flex.justify-content-center
            %h1 Button Colour
        .d-flex.justify-content-center
            =button_tag "Select Button Colour",  class: 'btn btn-primary primary-button'
        %br/

.d-grid.gap-2
    =link_to "save", @event, class: 'btn btn-primary primary-button'
    =link_to "Cancel", admins_path, class: 'btn btn-primary primary-button'
