.d-grid.gap-2
    =link_to "View Participants", view_walkers_admins_path, class: 'btn btn-primary primary-button'
    =link_to "View Marshals", view_marshals_admins_path, class: 'btn btn-primary primary-button'
    =link_to "View Pick-Up Requests", view_pickups_admins_path, class: 'btn btn-primary primary-button'
    =link_to "Event Info", event_info_admins_path, class: 'btn btn-primary primary-button'
    =link_to "Manage Checkpoints", manage_checkpoints_admins_path, class: 'btn btn-primary primary-button'
    =link_to "Start/End Event", root_path, class: 'btn btn-primary primary-button'
    =link_to "Switch Event", manage_events_admins_path, class: 'btn btn-primary primary-button'
    =link_to "Sign Out", root_path, class: 'btn btn-primary primary-button'
