.row 
    .col
        .d-flex.justify-content-center
            %h1 Events
        %br/
        .d-flex.justify-content-left
            %p The Big Walk 2022 30km
            =link_to "Select", event_main_admins_path, class: 'btn btn-primary primary-button'
        .d-flex.justify-content-left
            %p The Big Walk 2022 50km
            =link_to "Select", event_main_admins_path, class: 'btn btn-primary primary-button'