.row 
    .col
        .d-flex.justify-content-center
            %h1 Checkpoints
        %br/
        .d-flex.justify-content-left
            %p Hope Cross
            %p 5.8km In
        .d-flex.justify-content-left
            %p Location: SK160876
            =link_to "Edit", edit_checkpoint_admins_path, class: 'btn btn-primary primary-button'
        .d-flex.justify-content-left
            %p Wun Hill Summit
            %p 9.6km In
        .d-flex.justify-content-left
            %p Location: SK187851
            =link_to "Edit", edit_checkpoint_admins_path, class: 'btn btn-primary primary-button'
        .d-flex.justify-content-left
            %p Ladybower Reservoir
            %p 13.1km In.
        .d-flex.justify-content-left
            %p Location: SK201854 
            =link_to "Edit", edit_checkpoint_admins_path, class: 'btn btn-primary primary-button'
        .d-flex.justify-content-left
            %p Bamford Edge
            %p 14.5km In
        .d-flex.justify-content-left
            %p Location: SK207858 
            =link_to "Edit", edit_checkpoint_admins_path, class: 'btn btn-primary primary-button'
        .d-flex.justify-content-left
            %p Crow Chin
            %p 17.2km In
        .d-flex.justify-content-left
            %p Location: SK225856
            =link_to "Edit", edit_checkpoint_admins_path, class: 'btn btn-primary primary-button'
        .d-flex.justify-content-left
            %p Rivelin Brook
            %p Gabe Newell
        .d-flex.justify-content-left
            %p Location: SK160876
            =link_to "Edit", edit_checkpoint_admins_path, class: 'btn btn-primary primary-button'
        %br/
        .d-flex.justify-content-center
            =link_to "Create New Checkpoint", create_checkpoint_admins_path, class: 'btn btn-primary primary-button'