.row 
    .col
        .d-flex.justify-content-center
            %h1.fw-bold Pick-Up Requests

.d-flex.justify-content-center
    %table
        %tbody
            %tr
                %td.fw-bold Walker ID
                %td.fw-bold Name
                %td.fw-bold OS Grid
            -@pickups.each do |pickup|
                %tr 
                    -user = User.where(id: pickup.user_id).first
                    %td= Participant.where(user_id: user.id).first.participant_id
                    %td=link_to "#{user.name}", user
                    %td= pickup.os_grid
                %tr
                    %td{:colspan => 3}=link_to 'Remove Pickup Request', pickup, :method => :delete, :data => { :confirm => 'Are you sure?' },  class: 'btn btn-primary primary-button btn-sm w-100'
