.row 
    .col
        .d-flex.justify-content-center
            %h1 Pick-Up Requests

%br/
.d-flex.justify-content-center
    %table
        %tbody
            %tr
                %td Walker ID
                %td Name
                %td OS Grid
            -@pickups.each do |pickup|
                %tr
                    -user = User.where(id: pickup.user_id).first
                    %td= Participant.where(user_id: user.id).first.participant_id
                    %td= user.name
                    %td= pickup.os_grid
                    %td=link_to 'Delete', pickup, :method => :delete, :data => { :confirm => 'Are you sure?' },  class: 'btn btn-primary primary-button'