.d-flex.justify-content-left 
    =link_to @event do 
        %span.bi.bi-arrow-return-left
.d-flex.justify-content-center
    %h1 Marshals At Checkpoints
%table
    %tbody
        %tr
            %td Checkpoint
            %td Marshals
        -@b.each do |b|
            %tr
                -if b.length() == 1
                    %td= b.first.name
                    %td No marshal
                -else
                    -b.each do |c|
                        %td= c.name