.row 
    .col
        .d-flex.justify-content-left 
            =link_to @event do 
                %span.bi.bi-arrow-return-left
        .d-flex.justify-content-center
            %h1 All Participants
        .d-flex.justify-content-center
            =text_field :search, :walkers, :maxlength => "40", :placeholder => "Search Walkers"
        %br/
        .d-flex.justify-content-center
            =button_tag "Export As Excel Sheet",  class: 'btn btn-primary primary-button'

%br/
.d-flex.justify-content-center
    %table
        %tbody
            %tr
                %td Person
                %td Pace
            -@falling_behind.each do |walker|
                %tr
                    %td= walker.name
                    %td falling behind
            -@on_pace.each do |walker|
                %tr
                    %td= walker.name
                    %td on pace