.row 
    .col
        .d-flex.justify-content-center
            %h1 Call Requests

%br/
.d-flex.justify-content-center
    %table
        %tbody
            %tr
                %td Walker ID
                %td Name
                %td Phone No
            -@calls.each do |call|
                %tr
                    -user = User.where(id: call.user_id).first
                    %td= Participant.where(user_id: user.id).first.participant_id
                    %td= user.name
                    %td= user.mobile
                    %td=link_to 'Delete call', call, :method => :delete, :data => { :confirm => 'Are you sure?' },  class: 'btn btn-primary primary-button'