.row 
    .col
        .d-flex.justify-content-center
            %h1.fw-bold Call Requests

.d-flex.justify-content-center
    %table
        %tbody
            %tr
                %td.fw-bold Walker ID
                %td.fw-bold Name
                %td.fw-bold Phone No.
            -@calls.each do |call|
                %tr
                    -user = User.where(id: call.user_id).first
                    %td= Participant.where(user_id: user.id, event_id: session[:current_event_id]).first.participant_id
                    %td=link_to "#{user.name}", user
                    %td= user.mobile
                %tr
                    %td{:colspan => 3}=link_to 'Delete Call Request', call, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-primary primary-button w-100 btn-sm'
