.d-flex.justify-content-center
    %h1.fw-bold Marshals At Checkpoints

.d-flex.justify-content-center
    %table
        %tbody
            %tr
                %td.fw-bold Marshals
                %td.fw-bold Checkpoint 
                %td.fw-bold Status
                %td.fw-bold Time
            -event = Event.where(id: session[:current_event_id]).first
            -checkpoints = Checkpoint.where(events_id: session[:current_event_id])
            -checkpoints.each do |checkpoint|
                %tr
                    -marshals = Marshall.where(checkpoints_id: checkpoint.id)
                    -marshals.each do |marshal|
                        -user = User.where(id: marshal.users_id).first
                        %td=link_to "#{user.name}", user
                        %td= checkpoint.name
                        -shift = MarshalShift.where(marshalls_id: marshal.id).order(created_at: :desc).first
                        -if shift
                            %td= shift.status
                            %td= shift.current_time
                        -else
                            %td ----
                            %td ----
