.row 
    .col 
        .d-flex.justify-content-center
            %h2 Your Checkpoint: 
        .d-flex.justify-content-center
            %h1 HOPE CROSS
        %br
        .d-flex.justify-content-center
            = simple_form_for :checkin_walker, url: checkin_walker_marshals_path, method: :post do |f|
                = f.input :participant_id, label: "Walker Number:"
                %br/
                = f.submit "Checkin Walker", class: 'btn btn-primary primary-button'
        