.d-flex.justify-content-center
  %h1.fw-bold.pb-3 Choose An Event


- if @events.count == 0
  %h3 There is no event ready. Please contact an admin for them to create one.
- else 
  %h3 
  .row
    - @events.each do |event|
      .col-6.pb-3
        =link_to  add_shift_marshal_path(event.id) do
          .card.h-100
            .card-body
              .d-flex.justify-content-center
                %h5.card-title.fw-bold= event.name
            
  %br/
%br/

