.row 
    .col
        .d-flex.justify-content-center
            %h1 End Marshal Shift For The Day
        %br
        .d-flex.justify-content-center
            %p Thank you for all your help today!
        %br/
        .d-flex.justify-content-center
            %p Now that you're wrapped up, do you need picking up, or are you making your own way home?
        %br/
        %br/
.d-grid.gap-2
    =link_to "Making My Own Way Home", root_path, class: 'btn btn-primary primary-button'
    =link_to "I Need Picking Up", root_path, class: 'btn btn-primary primary-button'
