.row 
    .col
        .d-flex.justify-content-center
            %h1.fw-bold.text-center End Marshal Shift For The Day
        %br
        .d-flex.justify-content-center
            %h5.text-center Thank you for all your help today!
        %br/
        .d-flex.justify-content-center
            %p.text-center Now that you're wrapped up, do you need picking up, or are you making your own way home?
        %br/

.d-grid.gap-2
    // needs functionality
    =link_to "Making My Own Way Home", move_own_way_home_marshals_path,class: 'btn btn-primary primary-button'
    =link_to "I Need Picking Up", request_pick_up_marshals_path, class: 'btn btn-primary primary-button'
