.row 
    .col 
        .d-flex.justify-content-center
            %h3 Marshal ID 
        .d-flex.justify-content-center
            %h2= @marshal.marshal_id
        %br
        .d-flex.justify-content-center
            %h3 Your Checkpoint: 
        .d-flex.justify-content-center
            %h2= @checkpoint.name
        %br
        .d-flex.justify-content-center
            %h3 Walkers Passed:
        .d-flex.justify-content-center
            %h2= @num_walkers_passed
        %br
        .d-flex.justify-content-center 
            %h3 Walkers Falling Behind:
        .d-flex.justify-content-center
            %h2= @num_walkers_falling

.d-grid.gap-2
    =link_to "View Incoming Walkers", view_incoming_walkers_marshals_path, class: 'btn btn-primary primary-button'
    =link_to "Change Checkpoint", change_checkpoint_marshals_path, class: 'btn btn-primary primary-button'
    =link_to "Checkin Walkers", checkin_walkers_marshals_path, class: 'btn btn-primary primary-button'
    =link_to "End Marshal Shift", end_marshal_shift_marshals_path, class: 'btn btn-primary primary-button'
