.d-flex.justify-content-center
  %h1.fw-bold.pb-3 Your Events

.row 
  - @events.each do |event|
    .col-6.pb-3
      .card.h-100
        .card-body
          %h5.card-title.fw-bold= event.name
          =link_to "", event, class: 'stretched-link'

.d-flex.justify-content-center
  =link_to "Create New Event", new_event_path, class: 'btn btn-primary primary-button w-100'
%br
.d-flex.justify-content-center
  =link_to "View Reported Issues With Site", view_reports_admins_path, class: 'btn btn-primary primary-button w-100'
 