.d-flex.justify-content-center
  %h1 Listing Events
  %br/

.row 
  - @events.each do |event|
    .col-6
      .card.h-100
        .card-body
          %h5.card-title.fw-bold= event.name
          =link_to "", event, class: 'stretched-link'
    %br/
  =link_to "Create New Event", new_event_path, class: 'btn btn-primary primary-button'
 