= image_tag("BW2022_logo_LSC.png", :size => "320x150")

%h4 set off in:
%h1  47D:9H:26M:51S

= link_to(button_tag("Walker", class: 'btn btn-primary primary-button'), walker_index_path) 
= link_to(button_tag("Staff", class: 'btn btn-primary primary-button'), '/')