%h1 Leaderboard

%table
  %tbody
    %tr
      %td Participant
      %td Last Checkpoint
      %td Time to Last Checkpoint
  - @current_event = session[:current_event_id]
  - @users.each do |user| 
    %tr
      - @tag = Tag.where(id: user.tag_id).first
      - if @tag.name == "Walker" 
        %td= link_to "#{user.name}", single_user_leaderboard_pages_path
        - @walker = Participant.where(users_id: user.id, ).first
        - @checkpoint = Checkpoint.where(id: @walker.checkpoints_id).first
        %td=@checkpoint.name
        / \/ link to "checkpoint.time where ({current event id && current user id} && {datetime is largest})
        %td 1:01:23