.d-flex.justify-content-center
  %h1.fw-bold Leaderboard

%table
  %tbody
    %tr
      %td Participant
      %td Last Checkpoint
      %td Time to Last Checkpoint
  - @current_event = session[:current_event_id]
  - @users.each do |user| 
    %tr
      - @tag = Tag.where(id: user.tag_id).first
      - if @tag.name == "Walker" 
        - @walker = Participant.where(user_id: user.id).first
        - @checkpoint = Checkpoint.where(id: @walker.checkpoints_id).first
        - if @walker.opted_in_leaderboard == true or @walker.opted_in_leaderboard == nil
          %td= link_to "#{user.name}", single_user_leaderboard_pages_path(:leaderboard_participant => @walker)
          %td=@checkpoint.name
          %td 1:01:23

        /# Get all of the users in the event, record the amount
        /# Create a for loop to go through each user, cretae another for loop inside that going through the linker table to find
        /#    the highest position in route (where user_id = x.id (where x is the value from the first for loop)), then print that
        /#      value out in the table next to the user, or print the user name and most recent time together.
        /#s
        /# Get the linker table position in route, then do a for loop for it to get the highest position, or just do .highest .