=link_to walkers_path do 
  %span.bi.bi-arrow-return-left

%h1 Leaderboard

%table
  %tbody
    %tr
      %td Participant
      %td Last Checkpoint
      %td Time to Last Checkpoint
      /%td= user.name
    - @users.each do |user| 
      %tr
        %td= link_to "#{user.name}", single_user_leaderboard_pages_path
        %td Win Hill
        %td 1:01:23
        
