.d-flex.justify-content-center
  %h1.fw-bold.pb-2 Pick An Event

- if @events.count == 0
  %h3 There are no events ready. Please contact an admin to create one.
- else 
  %h4.fw-bold.text-center.pb-2 Available Events:
  .row
    - @events.each do |event|
      .col-6.pb-3
        = link_to pick_route_page_path(event) do
          .card.h-100
            .card-body
              .d-flex.justify-content-center
                %h6.card-title.fw-bold= event.name