.d-flex.justify-content-center
  %h2{class: "fw-bold"} Pick A Route
%br/

.row
  - @routes.each do |route|
    .col-6
      .card.h-100
        .card-body
          %h5.card-title.fw-bold= route.name
          %h7.text-muted= "#{route.course_length} KM"
          =link_to '', home_page_path(route), class:'stretched-link'
%br/
%br/
