.d-flex.justify-content-center
  %h1.fw-bold.pb-3 Pick A Route

.row
  - @routes.each do |route|
    .col-6.pb-3
      = link_to home_page_path(route) do
        .card.h-100
          .card-body
            %h5.card-title.fw-bold= route.name
            %h7.text-muted= "#{route.course_length} Km"
