- @current_event = session[:current_event_id]
- @current_user = User.where(id: @current_user_id).first

- @walker = Participant.where(user_id: @current_user_id).first
- @current_user_id = session[:current_user_id]
- @checkpoints = Checkpoint.where(events_id: @current_event)
- @user_times = CheckpointTime.where(participant_id: @current_user_id)

%h1 User Leaderboard

%table
%tbody
  %tr="#{@walker.name}'s Times"
  %tr
    %td Checkpoint
    %td Time To Checkpoint

  - @user_times.each do |t|      
    - @current_checkpoint_id = t.checkpoint_id      
    - @current_checkpoint_name = @checkpoints.name.where(id: @current_checkpoint_id)
    - @current_checkpoint_time = @checkpoints.time
    %tr
      %td=@current_checkpoint_name
      %td=CheckpointTime.times.where(checkpoint_id: @current_checkpoint_id)

/Think about reconfiguring so that all checkpoints show up and if the user hasn't reached the popint yet then it just shows a -

-# - @current_user = User.where(id: @current_user_id).first
-# - @current_user_id = session[:current_user_id]
-# - @current_event = session[:current_event_id]
-# - @walker = Participant.where(users_id: @current_user_id).first
-# - @checkpoints = Checkpoint.where(id: @walker.checkpoints_id)

-# %table
-# %tbody
-#   %tr
-#     %td Participant
-#     %td Last Checkpoint
-#     %td Time to Last Checkpoint
-#     /%td= user.name
-# /@walker = Participant.where(users_id: @current_user_id, ).first
-# - @checkpoint.each do |checkpoint|
-# /- @users.each do |user| 
-#   %tr
-#     %td=@checkpoint.name
-#     %td 1:01:23


/For the current event id (Checkpoint.where(event_id: @current_event_id)), display the names of each checkpoint

/get the route id, then the checkpoint id from the route id (sam4e table).
/Use the checkpoint id to find the checkpoint name in the checkpoints table
