@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600;700&display=swap');

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family:'Asap', sans-serif;
}

#banner-container {
  background-color: #f60;
}