@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600;700&display=swap');

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family:'Asap', sans-serif;
}

#banner-container {
  background-color: #f60;
}

table{
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
}

th, td{
  padding: 8px;
}

thead th {
  width: 25%;
}

.need-help{
  font-weight: bold;
}