@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600;700&display=swap');

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family:'Asap', sans-serif;
}

#banner-container {
  background-color: #f60;
}

table{
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-top-style: solid;
  border-top-color: black;
}

th, td{
  padding: 8px;
}

thead th {
  width: 25%;
}

.need-help{
  font-style: italic;
  font-weight: bold;
  color: red;
}

.falling-behind{
  font-weight: bold;
  color: rgb(219, 154, 34);
}

.on-pace{
  color: green;
}