.row 
    .col 
        %h1 LET'S GO! 
        %h2 The walk has begun! 
        %p 
        %h2 Your next checkpoing
        %h1 Hope Cross 
.d-grid.gap-2
    =button_tag "Check-in", class: 'btn btn-primary primary-button'
    =button_tag "Checkpoint information", class: 'btn btn-primary primary-button'
    =button_tag "RequestHelp", class: 'btn btn-primary primary-button'
