
.d-flex.justify-content-center
  %h1 Routes
  %br/
- if session[:new_event] == 0
  //= link_to edit_event_path(@event) do 
  //  %span.bi.bi-arrow-return-left

.row
  - @routes.each do |route|
    .col-6
      .card.h-100
        .card-body
          %h5.card-title.fw-bold= route.name
          %h6= "#{route.course_length} KM"
          %p= link_to 'Edit', edit_route_path(route), class: 'btn btn-primary primary-button stretched-link'           
      %br/
%br/
.d-flex.justify-content-center
  =link_to "Create New Route", new_route_path, class: 'btn btn-primary primary-button'


-# - @routes.each do |route|
-#   .d-flex.justify-content-left
-#     %p= route.name
-#     %p= route.course_length
-#     %p km
-#     %p= link_to 'Edit', edit_route_path(route), class: 'btn btn-primary primary-button'
-#   %br/
-# .d-flex.justify-content-center
-#   =link_to "Create New Route", new_route_path, class: 'btn btn-primary primary-button'
        
- if session[:new_event] == 1
  %br/
  .d-flex.justify-content-center
    =link_to "Next", checkpoints_path, class: 'btn btn-primary primary-button'