%h1 Welcome to Your Profile 
.row   
    .col-7 
        %h4 Basic informaiton
        %table 
            %tr 
                %td User ID:
                %td= current_user.id
            %tr 
                %td User Email:
                %td= current_user.email